# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
x = {2,3,1,5,9,6,0,4,7,8}
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
x.add(11)
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [3]:
x.remove(1)
print(x)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
x = {i for i in range(1,6)}
y = {i for i in range(1,11) if not i&1}
print(x,y)

{1, 2, 3, 4, 5} {2, 4, 6, 8, 10}

In [5]:
print(x.union(y))

{1, 2, 3, 4, 5, 6, 8, 10}

In [6]:
print(x.intersection(y))

{2, 4}

In [7]:
print(x.difference(y))

{1, 3, 5}

In [8]:
print(x.symmetric_difference(y))

{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [9]:
a = {i for i in range(1,11,1)}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [10]:
b = {i for i in a if not i&1}
print(b)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [11]:
s = {1, 2, 2, 3, 4}
print(s)

{1, 2, 3, 4}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [16]:
x = {i for i in range(1, 6)}
y = {i for i in range(1, 4)}
x.issubset(y)

False

In [18]:
y.issubset(x)

True

In [19]:
x.issuperset(y)

True

In [20]:
y.issuperset(x)

False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [21]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [26]:
x = {i for i in range(1, 6)}
y = list(x)
y.append(6)
print(set(y))

{1, 2, 3, 4, 5, 6}

### 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [27]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [28]:
x = {i for i in range(10)}
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

### 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [31]:
x = {i for i in range(10)}
while x:
    x.pop()
print(x)

set()

### 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [32]:
x = {i for i in range(10)}
y = {i for i in range(4, 12)}
x.symmetric_difference_update(y)
print(x)

{0, 1, 2, 3, 10, 11}

### 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [33]:
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

### 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [34]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}