# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [2]:
# 1st question
d1 = {x: x**2 for x in range(10)}
print(d1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [9]:
print(d1[5], list(d1.keys()))

25 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
d1[11] = 121

In [12]:
del d1[1]

KeyError: 1

In [13]:
print(d1)

{0: 0, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 11: 121}

In [15]:
for i,j in d1.items():
    print(i,j)

0 0
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
11 121

In [16]:
d2 = {i: i**3 for i in range(10)}

In [17]:
print(d2)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [19]:
a1 = {i: i**2 for i in range(1, 6)}
a2 = {i: i**2 for i in range(6, 11)}
print(a1, a2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25} {6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [24]:
a1.update(a2)
print(a1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [25]:
student = {
    'name': 'Hema vardhan',
    'age': 22,
    'grades': {
        'math': 90,
        'science': 85,
        'english': 88
    },
    'name': 'nikhil',
    'age': 21,
    'grades': {
        'math': 34,
        'science': 33,
        'english': 56
    }
}
print(student)

{'name': 'nikhil', 'age': 21, 'grades': {'math': 34, 'science': 33, 'english': 56}}

In [26]:
# keys are 1st 5 +ve numbers and values are 1st 5 multiples
x1 = {i: [i * j for j in range(1,6)] for i in range(1, 6)}
print(x1)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [27]:
x1 = {i: (i, i**2) for i in range(5)}
print(x1)

{0: (0, 0), 1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16)}

In [28]:
x1 = {i: i**2 for i in range(5)}
x2 = list(x1.items())
print(x2)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [29]:
x1 = {i: i*2 for i in range(1, 11)}
x2 = {i: i**2 for i in range(1,11) if not i&1}
print(x1, x2)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20} {2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [31]:
x1 = {i: i**2 for i in range(1, 6)}
x2 = {j: i for i,j in x1.items()}
print(x2)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [33]:
x1 = {i: [] for i in range(1,6)}
x1[2].append(12)
print(x1)

{1: [], 2: [12], 3: [], 4: [], 5: []}

In [ ]:
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char] = count_dict.get(char, 0) + 1
    return count_dict

string = "hello world"
print(count_chars(string))

{'1': 1, '2': 1, '3': 1, '4': 1}